{{ partial "header.html" . }}
<div class="article-meta">
    <h1><span class="title">{{ .Title | markdownify }}</span></h1>
    <div class="subtitle">
        {{ if (gt .Params.date 0) }}
        <span class="date">{{ .Date.Format "2006/01/02" }}</span>
        {{ end }}
        {{ with .Params.author }}
        <span class="author"> by {{ . }}</span>
        {{ end }}
    </div>
    <p class="tags">
        {{ range $i := (slice "categories" "tags") }}
        {{ with ($.Param $i) }}
        {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print " /" $i "/" $k | urlize) }}">#{{$k}}</a> {{ end }}
        {{ end }}
        {{ end }}
    </p>
</div>

{{ .TableOfContents }}

<main>
    {{ .Content }}
</main>

{{ partial "footer.html" . }}